@import url('https://fonts.cdnfonts.com/css/futura-pt');
@import url('https://db.onlinewebfonts.com/c/5bdac91b83b25ea168302ffbc40909de?family=Futura+PT+Demi');

html {
	box-sizing: border-box;
	line-height: 1.15;
	-webkit-box-sizing: border-box;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.5;
	color: #333;
}

div {
	display: block;
}
